In [1]:
import pandas as pd
df = pd.concat(map(pd.read_csv, ['file_1.csv', 'file_2.csv']),sort=True, ignore_index=True)

In [2]:
df.columns

Index(['Litwo, Ojczyzno moja! ty jesteś jak zdrowie;;1', 'Wyzłacanych pszenicą, posrebrzanych żytem;;5'], dtype='object')

In [3]:
df.shape

(20, 2)

In [4]:
df.describe()

,"Litwo, Ojczyzno moja! ty jesteś jak zdrowie;;1","Wyzłacanych pszenicą, posrebrzanych żytem;;5"
count,2,1
unique,2,1
top,;2,;7
freq,1,1

In [5]:
df.iloc[2]

Litwo, Ojczyzno moja! ty jesteś jak zdrowie;;1    NaN
Wyzłacanych pszenicą, posrebrzanych żytem;;5      NaN
Name: 2, dtype: object

In [6]:
print(df)

   Litwo, Ojczyzno moja! ty jesteś jak zdrowie;;1  \
0                                              ;2
1                                             NaN
2                                             NaN
3                                             NaN
4                                             NaN
5                                             NaN
6                                             NaN
7                                             NaN
8                                             NaN
9                                             NaN
10                                            NaN
11                                            NaN
12                                            NaN
13                                             ;4
14                                            NaN
15                                            NaN
16                                            NaN
17                                            NaN
18                                            NaN
19                                            NaN

   Wyzłacanych pszenicą, posrebrzanych żytem;;5
0                                           NaN
1                                           NaN
2                                           NaN
3                                           NaN
4                                           NaN
5                                           NaN
6                                           NaN
7                                           NaN
8                                           NaN
9                                           NaN
10                                          NaN
11                                          NaN
12                                          NaN
13                                          NaN
14                                          NaN
15                                          NaN
16                                           ;7
17                                          NaN
18                                          NaN
19                                          NaN