## The double-equality sign

Demonstrate that 100 is not equal to 98.

In [2]:
100 == 98

False

In [4]:
100 \
+5

105

In [6]:
z = 4 * 2

In [7]:
z + 5

13

In [11]:
#This is just a code
print (7, 2)

7 2

In [18]:
 print (str(8 + 8.0 + 4) + " str")

20.0 str

In [21]:
"Sex on the beach"[3 + 2]

'n'

In [29]:
def five(x):
    x = 4
    return x

print (five(4))

4