In [8]:
import pandas as pd
df = pd.read_csv('Population-EstimatesCountry.csv')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 31 columns):
Country Code                                         258 non-null object
Short Name                                           258 non-null object
Table Name                                           258 non-null object
Long Name                                            258 non-null object
2-alpha code                                         256 non-null object
Currency Unit                                        217 non-null object
Special Notes                                        88 non-null object
Region                                               217 non-null object
Income Group                                         217 non-null object
WB-2 code                                            257 non-null object
National accounts base year                          211 non-null object
National accounts reference year                     68 non-null object
SNA price valuation                                  209 non-null object
Lending category                                     143 non-null object
Other groups                                         59 non-null object
System of National Accounts                          206 non-null object
Alternative conversion factor                        47 non-null object
PPP survey year                                      191 non-null object
Balance of Payments Manual in use                    195 non-null object
External debt Reporting status                       120 non-null object
System of trade                                      203 non-null object
Government Accounting concept                        158 non-null object
IMF data dissemination standard                      186 non-null object
Latest population census                             217 non-null object
Latest household survey                              152 non-null object
Source of most recent Income and expenditure data    168 non-null object
Vital registration complete                          118 non-null object
Latest agricultural census                           128 non-null object
Latest industrial data                               147 non-null float64
Latest trade data                                    241 non-null float64
Unnamed: 30                                          0 non-null float64
dtypes: float64(3), object(28)
memory usage: 62.6+ KB
None

In [9]:
df.columns

Index(['Country Code', 'Short Name', 'Table Name', 'Long Name', '2-alpha code',
       'Currency Unit', 'Special Notes', 'Region', 'Income Group', 'WB-2 code',
       'National accounts base year', 'National accounts reference year',
       'SNA price valuation', 'Lending category', 'Other groups',
       'System of National Accounts', 'Alternative conversion factor',
       'PPP survey year', 'Balance of Payments Manual in use',
       'External debt Reporting status', 'System of trade',
       'Government Accounting concept', 'IMF data dissemination standard',
       'Latest population census', 'Latest household survey',
       'Source of most recent Income and expenditure data',
       'Vital registration complete', 'Latest agricultural census',
       'Latest industrial data', 'Latest trade data', 'Unnamed: 30'],
      dtype='object')

In [15]:
df.Region.value_counts(dropna=False) 
# counts also empty values

Europe & Central Asia         58
Sub-Saharan Africa            48
Latin America & Caribbean     42
NaN                           41
East Asia & Pacific           37
Middle East & North Africa    21
South Asia                     8
North America                  3
Name: Region, dtype: int64

In [14]:
df['Region'].value_counts(dropna=True)

Europe & Central Asia         58
Sub-Saharan Africa            48
Latin America & Caribbean     42
East Asia & Pacific           37
Middle East & North Africa    21
South Asia                     8
North America                  3
Name: Region, dtype: int64

In [16]:
df['Long Name'].value_counts(dropna=False).head()

Republic of Iraq                 1
Russian Federation               1
Puerto Rico                      1
Federative Republic of Brazil    1
Republic of Chile                1
Name: Long Name, dtype: int64

In [17]:
df.describe()
# only numerical values will be returned

       Latest industrial data  Latest trade data  Unnamed: 30
count              147.000000         241.000000          0.0
mean              2007.040816        2016.771784          NaN
std                  9.420815           0.458476          NaN
min               1973.000000        2014.000000          NaN
25%               2002.500000        2017.000000          NaN
50%               2012.000000        2017.000000          NaN
75%               2013.000000        2017.000000          NaN
max               2014.000000        2017.000000          NaN