In [1]:
import pandas as pd
import numpy as np

30.How to create a TimeSeries starting ‘2019-08-31’ and 10 weekends (saturdays) after that having random numbers as values?
Difficiulty Level: L2

In [2]:
ser = pd.Series(np.random.randint(1,10,10), pd.date_range('2019-08-31', periods=10, freq='W-SAT'))
ser

2019-08-31    9
2019-09-07    1
2019-09-14    5
2019-09-21    3
2019-09-28    3
2019-10-05    8
2019-10-12    3
2019-10-19    9
2019-10-26    4
2019-11-02    5
Freq: W-SAT, dtype: int32

33.Import every 50th row of BostonHousing dataset as a dataframe.

In [3]:
# Solution 1: Use chunks and for-loop
df = pd.read_csv('Popular_Baby_Names.csv', chunksize=50)
df2 = pd.DataFrame()
for chunk in df:
    df2 = df2.append(chunk.iloc[0,:])

print(df2.head(0))
print(df2.columns)

Empty DataFrame
Columns: [Child's First Name, Count, Ethnicity, Gender, Rank, Year of Birth]
Index: []
Index(['Child's First Name', 'Count', 'Ethnicity', 'Gender', 'Rank',
       'Year of Birth'],
      dtype='object')

In [4]:
df_cut = df2.iloc[:9,:]
print(df_cut)

    Child's First Name  Count                   Ethnicity  Gender  Rank  \
0               Olivia  172.0  ASIAN AND PACIFIC ISLANDER  FEMALE   1.0
50             Tiffany   25.0  ASIAN AND PACIFIC ISLANDER  FEMALE  26.0
100            Hoorain   16.0  ASIAN AND PACIFIC ISLANDER  FEMALE  35.0
150               Kira   11.0  ASIAN AND PACIFIC ISLANDER  FEMALE  40.0
200              Malia   38.0          BLACK NON HISPANIC  FEMALE  16.0
250             Jordyn   22.0          BLACK NON HISPANIC  FEMALE  31.0
300             Londyn   14.0          BLACK NON HISPANIC  FEMALE  39.0
350               Hope   10.0          BLACK NON HISPANIC  FEMALE  43.0
400           Juliette   49.0                    HISPANIC  FEMALE  38.0

     Year of Birth
0           2016.0
50          2016.0
100         2016.0
150         2016.0
200         2016.0
250         2016.0
300         2016.0
350         2016.0
400         2016.0

In [5]:
df_cut.to_csv('baby_top', sep=',', index=0)

In [6]:
new_df =pd.read_csv('baby_top')
print(new_df.head())

  Child's First Name  Count                   Ethnicity  Gender  Rank  \
0             Olivia  172.0  ASIAN AND PACIFIC ISLANDER  FEMALE   1.0
1            Tiffany   25.0  ASIAN AND PACIFIC ISLANDER  FEMALE  26.0
2            Hoorain   16.0  ASIAN AND PACIFIC ISLANDER  FEMALE  35.0
3               Kira   11.0  ASIAN AND PACIFIC ISLANDER  FEMALE  40.0
4              Malia   38.0          BLACK NON HISPANIC  FEMALE  16.0

   Year of Birth
0         2016.0
1         2016.0
2         2016.0
3         2016.0
4         2016.0

39. Rename a specific column in DataFrame

In [7]:
# 1 Rename 'Child's first name' by 'First name'
new_df=new_df.rename(columns = {'Child\'s First Name':'First name'})
print(new_df.columns)

Index(['First name', 'Count', 'Ethnicity', 'Gender', 'Rank', 'Year of Birth'], dtype='object')

In [ ]:
# 2 Add '.com' to each column name
new_df = new_df.add_suffix('us')
print(new_df.columns)