Zadanie 2:
Plik test zawiera dane pasażerów Titanica
plik gender_submission zawiera informacje, kto przeżył rejs
1) Do pliku test dodaj columnę survived z informacją, czy dany pasażer przeżył, czy nie
2) Stwórz plik result, w którym będą informacje o:
- ilu było pasażerów
- ile mężczyzn
- średnia wieku pasażerów
- ile osób przeżyło
- ilu mężczyzn przeżyło
- średnia wieku osób, które przeżyły
- jaki procent osób, które mają przyporządkowane kabiny przeżyły
- jaki procent osób, które nia mają przyporządkowanych kolumn przeżyły
to może być np.  w formie każda z informacji jako wiersz (będą dwie kolumny info i result)

In [1]:
import pandas as pd

In [2]:
test = pd.read_csv('test.csv')
gender = pd.read_csv('gender_submission.csv')

In [53]:
#1 Adding survive column
df = pd.merge(left=test, right=gender, on='PassengerId')

In [54]:
df.columns

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked', 'Survived'],
      dtype='object')

In [27]:
print(df.head(3))

   PassengerId  Pclass                              Name     Sex   Age  SibSp  \
0          892       3                  Kelly, Mr. James    male  34.5      0
1          893       3  Wilkes, Mrs. James (Ellen Needs)  female  47.0      1
2          894       2         Myles, Mr. Thomas Francis    male  62.0      0

   Parch  Ticket    Fare Cabin Embarked  Survived
0      0  330911  7.8292   NaN        Q         0
1      0  363272  7.0000   NaN        S         1
2      0  240276  9.6875   NaN        Q         0

In [22]:
df.shape

(418, 12)

In [23]:
df.describe()

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Survived
count,418.000000,418.000000,332.000000,418.000000,418.000000,417.000000,418.000000
mean,1100.500000,2.265550,30.272590,0.447368,0.392344,35.627188,0.363636
std,120.810458,0.841838,14.181209,0.896760,0.981429,55.907576,0.481622
min,892.000000,1.000000,0.170000,0.000000,0.000000,0.000000,0.000000
25%,996.250000,1.000000,21.000000,0.000000,0.000000,7.895800,0.000000
50%,1100.500000,3.000000,27.000000,0.000000,0.000000,14.454200,0.000000
75%,1204.750000,3.000000,39.000000,1.000000,0.000000,31.500000,1.000000
max,1309.000000,3.000000,76.000000,8.000000,9.000000,512.329200,1.000000

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 418 entries, 0 to 417
Data columns (total 12 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
Survived       418 non-null int64
dtypes: float64(2), int64(5), object(5)
memory usage: 42.5+ KB

In [76]:
#2 Number of pasengers
num_passengers = df['PassengerId'].count()
print(num_passengers)

418

In [73]:
#2 Number of man who survived
males = df[df['Sex'] == 'male']
males['PassengerId'].count()

# 2 
num_males = len(df.loc[df["Sex"]=="male"])
print(num_males)

266

In [57]:
#3 Avarage age of passangers
mean = df['Age'].mean()
print(mean)

30.272590361445783

In [78]:
#4 How many people survived
num_survived = len(df.loc[df["Survived"]==1])
print(num_survived)

152

In [89]:
male_survived = df.loc[(df['Survived']==1)&(df['Sex']=='male')].count()

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
Survived       0
dtype: int64