In [4]:
import pandas as pd
import matplotlib.pyplot as plt

filename='iris.csv'
iris = pd.read_csv(filename)
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [7]:
# Count Non-null values
iris['sepal_length'].count()

150

In [8]:
iris[['petal_length', 'petal_width']].count()

petal_length    150
petal_width     150
dtype: int64

In [9]:
iris['sepal_length'].mean()

5.843333333333335

In [10]:
iris.mean()

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64

In [11]:
#Inter-quantile range (IOR)
q =[0.25, 0.75]  # wartość na 25 % i wartość na 75% wartośći (half of the data lies in this range)
iris.quantile(q)

      sepal_length  sepal_width  petal_length  petal_width
0.25           5.1          2.8           1.6          0.3
0.75           6.4          3.3           5.1          1.8

In [ ]:
# Print the minimum value of the Engineering column
print(df['Engineering'].min())

# Print the maximum value of the Engineering column
print(df['Engineering'].max())

# Construct the mean percentage per year: mean
mean = df.mean(axis='columns')

# Plot the average percentage per year
mean.plot()

# Display the plot
plt.show()