In [2]:
# Creating Dataframe from dictionnaries
import pandas as pd

cities = ['Austin', 'Dallas', 'Austin', 'Dallas']
signups = [7, 12, 3, 5]
visitors = [139, 237, 326, 456]
weekdays = ['Sun', 'Sun', 'Mon', 'Mon']

list_labels = ['city', 'signups', 'visitors', 'weekday']
list_cols = [cities, signups, visitors, weekdays]
zipped = list(zip(list_labels, list_cols))

In [3]:
print(zipped)

[('city', ['Austin', 'Dallas', 'Austin', 'Dallas']), ('signups', [7, 12, 3, 5]), ('visitors', [139, 237, 326, 456]), ('weekday', ['Sun', 'Sun', 'Mon', 'Mon'])]

In [5]:
# Building dictionnary with zipped list
data = dict(zipped)

# Building DataFrame with dictionnary
users = pd.DataFrame(data)

In [6]:
print(users)

     city  signups  visitors weekday
0  Austin        7       139     Sun
1  Dallas       12       237     Sun
2  Austin        3       326     Mon
3  Dallas        5       456     Mon

In [8]:
# Broadcasting
users['Fees'] = 0
print(users)

     city  signups  visitors weekday  Fees
0  Austin        7       139     Sun     0
1  Dallas       12       237     Sun     0
2  Austin        3       326     Mon     0
3  Dallas        5       456     Mon     0

In [14]:
# Broadcasting with dict
heights = [ 59.0, 65.2, 62.9, 65.4, 63.7, 65.7, 64.1 ]
group = {'height': heights, 'sex': 'M'}
results = pd.DataFrame(group)

In [15]:
print(results)

   height sex
0    59.0   M
1    65.2   M
2    62.9   M
3    65.4   M
4    63.7   M
5    65.7   M
6    64.1   M

In [16]:
# Changing column and index labels
results.columns = ['height (in)', 'sex']
results.index = ['A','B','C','D','E','F', 'G']

In [17]:
print(results)

   height (in) sex
A         59.0   M
B         65.2   M
C         62.9   M
D         65.4   M
E         63.7   M
F         65.7   M
G         64.1   M

In [18]:
# Assigning a particular column name as index
sunspots.index = sunspots['year_month_day']

# Changing the name of the index
sunspots.index.name = 'date'

sunspots.info()

NameError: name 'sunspots' is not defined